body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.product-card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    margin-bottom: 20px;
}

.product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product-image img {
    width: 100%;
    height: 320px; /* Sesuaikan tinggi gambar sesuai kebutuhan */
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card .product-info {
    padding: 15px;
}

.product-card .product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-card .product-status {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.product-card .product-stok {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 5px;
}

.product-card .product-price {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 15px;
}

.product-card .product-image {
    text-align: center;
}

.product-card .btn {
    font-size: 14px;
    padding: 8px 20px;
}

.product-actions {
    display: flex;
    gap: 10px; /* Atur jarak antara tombol */
  }

.nota-struk {
    width: 270px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;
    font-family: Arial, sans-serif;
    float: left; /* Menampilkan nota struk secara horizontal */
}

.nota-struk .header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.nota-struk .body {
    margin-top: 10px;
    font-size: 14px;
}

.nota-struk .produk {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed #000;
}

.nota-struk .produk .nama {
    font-weight: bold;
}

.nota-struk .total {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #000;
    font-weight: bold;
}

.nota-struk .footer {
    margin-top: 10px;
    text-align: center;
}